@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="progressIndicator">
    <h1>Loading...</h1>
</div>
<div id="myDiv" >
</div>
@section Scripts
{
    <script>
        $("#progressIndicator").show();
        $.ajax({
            url : "/api/populations",
            success: function (data) {
                var clusters = new Array();
                for (var i in data) {
                    var clusterName;
                    if (data[i].index == -1)
                        clusterName = "Samples";
                    else
                        clusterName = "Cluster " + i;

                    var cluster = {
                        name: clusterName,
                        x: data[i].x,
                        y: data[i].y,
                        z: data[i].z,
                        text: data[i].label,
                        mode: "markers+text",
                        marker: {
                            size: 5,
                            opacity: 0.8
                        },
                        type: "scatter3d"
                    };
                    clusters.push(cluster);
                }

                var layout = {
                    title: "PCA 3D",
                    width: 1000,
                    height: 1000
                };

                Plotly.newPlot("myDiv", clusters, layout);
                $("#progressIndicator").hide();
            }
        });
    </script>
}